{% extends "app/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block header %}
  <center><img src= "{% static "images/about.png" %}"/><br>
      <p class="lead"><b>Histora is a forum platform dedicated to enthusiasts of all things history related.</b></p>
    <img src= "{% static "images/rules.png" %}"/></center>
    <ul>
      <li>If your topic is unrelated to history, please mark it as "Off-Topic"</li>
    </ul>
<br>

{% endblock header %}

{% block content %}

{% endblock content %}
